name: deploy

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install deps
        run: |
          python -V
          pip install --upgrade pip
          pip install mkdocs-material
          pip install mkdocs-roamlinks-plugin
          pip install mkdocs-glightbox

      - name: Build (strict & verbose)
        run: |
          mkdocs --version
          mkdocs build --strict -v

      - name: Deploy
        run: |
          mkdocs gh-deploy --force -v
